{% extends "blog/base.html" %}
{% block content %}
	<h1><br></h1>
	<h2></h2>
	<div class="container1">
		<div class="shadow-sm p-4 bg-white card">
			<div class="row">
				<div class="col-12">
					<h1 class=" font-weight-bold mb-3" style="color:white;text-align: center;"><h0> About </h0> <img src="/media/pic.png"></h1>
					<p class="text-justify" style="color:#ce8f86;">ReadbooK is a new site where you can post announcements , books , quotes etc. It was established on February, 2022 By <a href="https://hansrajweb.netlify.app" style="color:#ce8f86;">Hansraj Kondeda.</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock content %}
